.daily--card__line {
  min-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.daily--card__line--prediction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.daily--card__line--prediction--description {
  text-align: right;
}
@media screen and (max-width: 600px) {
  .daily--card__line {
    min-width: none;
    width: 70vw;
  }
}
