.daily--card__rain-wind-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rain-display {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.wind-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.wind-speed,
.wind-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: 2vw;
}
