.daily--forecast__wrapper {
  margin: 1vw;
  padding: 1vw;
  display: flex;
  overflow-x: hidden;
}
#daily--forecast__gallery {
  transition: all 0.5s linear;
}
.daily--forecast__wrapper__navigation {
  position: relative;
}
.daily--forecast__navigation-link {
  cursor: pointer;
  position: absolute;
  font-size: 10vh;
  z-index: 1;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  color: var(--joy-palette-primary-solidBg);
}
.daily--forecast__navigation-link:hover {
  color: var(--joy-palette-primary-solidHoverBg);
}

.daily--card__line.empty-div {
  width: 15vw;
  min-width: 15vw;
}
.navigation-link-right {
  right: 1vw;
}
.navigation-link-left {
  left: 1vw;
  transform: rotate(180deg);
}
